<div class="container">
  <h1 class="h1">Подразделения</h1>
  <div class="row buffer-both">
    <%= link_to "Создать", new_division_path, class: "btn btn-primary" %>
  </div>
  <div class="row">
    <table class="table table-hover">
      <thead>
      <tr>
        <th>№</th>
        <th>Наименование</th>
        <th>Учреждение</th>
      </tr>
      </thead>
      <tbody>
      <%= render partial: 'division', collection: @divisions %>
      </tbody>
    </table>
  </div>
</div>