// Place all the styles related to the Organizations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-link {
  display: block;
  height: 100%;
  width: 100%;
  color: #000000;
}

.table-link:hover {
  color: #000000;
  text-decoration: none;
}